<?xml version="1.0"?>

<model>
  <name>workcell</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Krzysztof Stężała</name>
    <email>Optional: krzysztof.stezala@student.put.poznan.pl</email>
  </author>

  <description>
    ERC 2020 workcell model
  </description>

</model>
