<?xml version="1.0"?>

<model>
  <name>pikachu</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Krzysztof Stężała</name>
    <email>Optional: krzysztof.stezala@student.put.poznan.pl</email>
  </author>

  <description>
    ERC 2020 workcell model
    Source: https://www.thingiverse.com/thing:3622785
  </description>

</model>
